h1= title
  div.wrap
    p Run a console to see JSON data.
    p Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
  input(type="submit", id="get", value="$.get()")
  div.status
  div.result
